# Configuration file

Equipment {
	B:DisableAllArmor=false
	B:DisableAllTools=false
	B:ShowDisabledEquipment=false

	Wood {
		Tools {
			B:Shears=false
			B:Sickle=false
		}
	}

	Stone {
		Tools {
			B:Bow=false
			B:FishingRod=false
			B:Shears=false
			B:Sickle=false
		}
	}

	Iron {
		Tools {
			B:Bow=true
			B:FishingRod=true
			B:Sickle=true
		}
	}

	Diamond {
		Tools {
			B:Bow=true
			B:FishingRod=true
			B:Shears=true
			B:Sickle=true
		}
	}

	Gold {
		Tools {
			B:Bow=true
			B:FishingRod=true
			B:Shears=true
			B:Sickle=true
		}
	}

	Copper {
		B:Armor=true

		Tools {
			B:Axe=true
			B:Bow=true
			B:FishingRod=true
			B:Hoe=true
			B:Pickaxe=true
			B:Shears=true
			B:Shovel=true
			B:Sickle=true
			B:Sword=true
		}
	}

	Tin {
		B:Armor=false

		Tools {
			B:Axe=false
			B:Bow=false
			B:FishingRod=false
			B:Hoe=false
			B:Pickaxe=false
			B:Shears=false
			B:Shovel=false
			B:Sickle=false
			B:Sword=false
		}
	}

	Silver {
		B:Armor=true

		Tools {
			B:Axe=true
			B:Bow=true
			B:FishingRod=true
			B:Hoe=true
			B:Pickaxe=true
			B:Shears=true
			B:Shovel=true
			B:Sickle=true
			B:Sword=true
		}
	}

	Lead {
		B:Armor=true

		Tools {
			B:Axe=true
			B:Bow=true
			B:FishingRod=true
			B:Hoe=true
			B:Pickaxe=true
			B:Shears=true
			B:Shovel=true
			B:Sickle=true
			B:Sword=true
		}
	}

	Nickel {
		B:Armor=true

		Tools {
			B:Axe=true
			B:Bow=true
			B:FishingRod=true
			B:Hoe=true
			B:Pickaxe=true
			B:Shears=true
			B:Shovel=true
			B:Sickle=true
			B:Sword=true
		}
	}

	Electrum {
		B:Armor=true

		Tools {
			B:Axe=true
			B:Bow=true
			B:FishingRod=true
			B:Hoe=true
			B:Pickaxe=true
			B:Shears=true
			B:Shovel=true
			B:Sickle=true
			B:Sword=true
		}
	}

	Invar {
		B:Armor=true

		Tools {
			B:Axe=true
			B:Bow=true
			B:FishingRod=true
			B:Hoe=true
			B:Pickaxe=true
			B:Shears=true
			B:Shovel=true
			B:Sickle=true
			B:Sword=true
		}
	}

	Bronze {
		B:Armor=true

		Tools {
			B:Axe=true
			B:Bow=true
			B:FishingRod=true
			B:Hoe=true
			B:Pickaxe=true
			B:Shears=true
			B:Shovel=true
			B:Sickle=true
			B:Sword=true
		}
	}

	Platinum {
		B:Armor=true

		Tools {
			B:Axe=true
			B:Bow=true
			B:FishingRod=true
			B:Hoe=true
			B:Pickaxe=true
			B:Shears=true
			B:Shovel=true
			B:Sickle=true
			B:Sword=true
		}
	}
}


Fluid {
	Redstone {
		B:Effect=true
	}

	Glowstone {
		B:Condense=true
		B:Effect=true
		B:Float=true
		I:MaxHeight=120
	}

	Ender {
		B:Effect=true
	}

	Pyrotheum {
		B:Effect=true
		B:Fall=true
	}

	Cryotheum {
		B:Effect=true
		B:Fall=true
	}

	Aerotheum {
		B:Dissipate=true
		B:Effect=true
		B:Float=true
		I:MaxHeight=120
	}

	Petrotheum {
		B:Effect=true
		B:Effect.Extreme=false
		B:Fall=true
	}

	Mana {
		B:Effect=true
	}

	Coal {
		B:Flammable=true
	}
}

General {
	B:FireImmuneDropSulfur=true
}

Lexicon {
	B:AlwaysGenerateList=false
	B:GenerateDefaultList=true
	B:LogEntries=false
	B:UseWhiteList=true
}

Mob {
	Blizz {
		B:Enable=true
		B:UseGlobalId=true

		Spawn {
			I:Light.Level=8
			B:Light.Limit=true
			I:MaxGroupSize=4
			I:MinGroupSize=1
			I:SpawnWeight=10
		}

	}

	Blitz {
		B:Enable=true
		B:UseGlobalId=true

		Spawn {
			I:Light.Level=8
			B:Light.Limit=true
			I:MaxGroupSize=4
			I:MinGroupSize=1
			I:SpawnWeight=10
		}

	}

	Basalz {
		B:Enable=true
		B:UseGlobalId=true

		Spawn {
			I:Light.Level=8
			B:Light.Limit=true
			I:MaxGroupSize=4
			I:MinGroupSize=1
			I:SpawnWeight=10
		}
	}
}

World {
	B:GenerateDefaultFiles=false
}